body{
  background-size:cover;
}
.imageCycle1{
    background: url(images/Beauty.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}
.imageCycle2{
    background:url(images/BlueandGreen.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}
.imageCycle3{
    background:url(images/Green.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}
.imageCycle4{
    background:url(images/MixedFeelings.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}
.imageCycle5{
    background:url(images/Orange.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}
.imageCycle6{
    background:url(images/PurpleEvening.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}
.imageCycle7{
    background:url(images/PurpleTreasure.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}
.imageCycle8{
    background:url(images/Rainbow.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}
.imageCycle9{
    background:url(images/Red.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}
.imageCycle10{
    background:url(images/Vivid.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}
.content{
  width: 50vw;
  border-radius:20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0, 0.7);
}
.content p{
  color:white;
  font-size:20px;
  padding:40px;
  margin:auto;
  text-align:center;
  font-family: 'Cormorant Infant', serif;
  font-weight: 400;
  font-size: 2em;
}
.title{
  font-style: italic;
}
button{
  border-radius:20px;
  position: fixed;
  top: 70%;
  left: 50%;
  height: 5vh;
  transform: translate(-50%, -50%);
  background-color: #000000;
  color: #045649;
  margin-top: 2%;
  border-color: #000000;

}
